<p><a href="/comments/<%= comment.id %>"> <%= comment.content %></a></p>
<% return comment if comment.child_comments.nil? %>
  <% comment.child_comments.each do |child| %>
  <ul>
    <li>  <%= render 'comments/comment', comment: child %>   </li>
  </ul>
<% end %>
