<h1>New Comment</h1>

<form class="" action="/comments" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="comment[post_id]" value="<%= params[:post_id] %>">

  <label>Content
    <input type="text" name="comment[content]" value="">
  </label>

  <input type="submit" name="" value="Comment">

</form>
