<h2> <%= @comment.content %> </h2>

<h1>New Comment</h1>

<form class="" action="/comments" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="comment[post_id]" value="<%= @comment.post_id %>">
  <input type="hidden" name="comment[parent_comment_id]" value="<%= params[:id] %>">

  <label>Content
    <input type="text" name="comment[content]" value="">
  </label>

  <input type="submit" name="" value="Comment">

</form>


<% @parent_comment_children.each do |child| %>
  <a href="/comments/<%= child.id %>"><%= child.content %></a>
  <% end %>
