<h1>Sign Up</h1>

<form class="" action="/users" method="post">

  <label>Username
    <input type="text" name="user[username]" value="">
  </label>

  <label>Password
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" name="" value="Create Account">

</form>
