<h1>  <%= @sub.title %> </h1>
<p> <%= @sub.description %>  </p>

<h3> Moderated By : <%= @sub.moderator.username %> </h3>
<h2>Posts:</h2>
  <% @sub.posts.each do |post| %>
    <a href="/posts/<%= post.id %>"><p>  <%= post.title %>  </p></a>
    <p>  <%= post.content %>  </p>
    <p>  <%= post.author.username %>  </p>
  <% end %>
