<h2>Edit Post</h2>

<form class="" action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH">

  <label>Title
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>

  <label>Content
    <input type="text" name="post[content]" value="<%= @post.content %>">
  </label>
  <br>
  <label>Forums:
    <input type="hidden" name="post[sub_ids][]" value="">
    <% Sub.all.each do |s| %>
    <li><%= s.title %>
      <input <%= @post.sub_ids.include?(s.id) ? 'checked' : '' %> type="checkbox" name="post[sub_ids][]" value="<%= s.id %>">
    </li>
    <% end %>
  </label>

  <input type="submit" name="" value="Edit Post">

</form>
