<h2>Make A New Post Here</h2>

<form class="" action="/posts" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <label>Title
    <input type="text" name="post[title]" value="">
  </label>

  <label>Content
    <input type="text" name="post[content]" value="">
  </label>
  <br>
  <label>Forums:
    <input type="hidden" name="post[sub_ids][]" value="">
    <% Sub.all.each do |s| %>
    <li><%= s.title %>
      <input type="checkbox" name="post[sub_ids][]" value="<%= s.id %>">
    </li>
    <% end %>
  </label>

  <input type="submit" name="" value="Make A Post">

</form>
