<h1>  <%= @post.title %>  </h1>
<p> <%= @post.content %>   </p>

<h2>Posted To:</h2>

<ul>
  <% @post.subs.each do |s| %>
    <li><%= s.title %></li>
  <% end %>
</ul>

<a href="/posts/<%= @post.id %>/edit">Edit Post</a>

<a href="<%= new_post_comment_url(@post) %>">New Comment</a>
<% @all_comments.each do |top_comment| %>
  <% if top_comment.parent_comment_id.nil? %>
    <p><a href="/comments/<%= top_comment.id %>"> <%= top_comment.content %></a></p>
    <ul>
      <% top_comment.child_comments.each do |comment|%>
      <%= render 'comments/comment', comment: comment %>
      <% end %>
    </ul>
  <% end %>
<% end %>
